body {
	 margin: 0;
	 height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
ul {
	list-style-type: none;
	margin:0;
 padding-left: 0;
}
li {
	display:block;
}

a {
  color: #00B7FF;
}
